/InteractiveObject.class
/Character.class
/ClickableObject.class
/CollectableObject.class
/FallingObject.class
/DamagingObject.class
/Obstacle.class
/PlaceableObject.class
/StartScreen.class
/ButtonListener.class
/StartButtonListener.class
/EndScreen.class
